.playtimes-range {
    height: 8px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.playtimes-progress {
    background-color: var(--primary-color);
    height: 100%;
    width: 100%;
    transition: width 0.5s;
}