.box {
    display: inline-block;
    position: relative;
    width: 500px;
    height: 300px;
    border: 3px solid red;
    box-sizing: border-box;
    background: url("https://fastly.picsum.photos/id/507/500/300.jpg?hmac=A7sjh_DZo-mh9g8NP9txdoymxgYJEFgfWK12xmbTwlE") no-repeat;
}

.zoom {
    position: absolute;
    width: 220px;
    height: 120px;
    background-color: #fff;
    opacity: 0.5;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
    pointer-events: none;
}

.zoom-box {
    position: relative;
    display: inline-block;
    width: 500px;
    height: 300px;
    border: 3px solid red;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

.zoom-image {
    position: absolute;
    background: url("https://fastly.picsum.photos/id/507/500/300.jpg?hmac=A7sjh_DZo-mh9g8NP9txdoymxgYJEFgfWK12xmbTwlE") no-repeat;
    background-size: cover;
}