* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.content {
    position: relative;
    height: 100vh;
    inset: 0;
    background-color: #31A8F7;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
}

.heading {
    color: #fff;
    text-align: right;
}

h1 {
    font-size: 40px;
}

.heading span {
    position: relative;
    display: block;
    margin-top: 25px;
    font-size: 30px;
    font-weight: 100;
}

.heading span::before {
    position: absolute;
    content: 'inspired by';
    display: inline-block;
    font-size: 18px;
    top: 8px;
    left: 13px;
    transform: translateX(-100%);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu i {
    position: absolute;
    color: #31A8F7;
    top: 10px;
    left: 10px;
    font-size: 24px;
    z-index: 3;
}

.menu::after {
    position: absolute;
    content: '';
    display: block;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 0;
    transition: all 0.5s linear;
}

nav {
    margin-top: 50px;
    display: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav label {
    display: block;
    width: 160px;
    padding-left: 40px;
    font-weight: bold;
    position: relative;
    z-index: 5;
    color: #31A8F7;
    cursor: pointer;
}

.menu > label:nth-child(2) {
    display: none;
}

#mn:checked ~ .menu > label:first-child {
    display: none;
}

#mn:checked ~ .menu label:nth-child(2),
#mn:checked ~ .menu nav {
    display: block;
}

#mn:checked ~ .menu::after {
    width: 250vw;
    height: 250vw;
}

#nav-1:checked ~ .menu nav li:nth-child(1) label {
    background-color: #eee;
    color: #000;
}
#nav-2:checked ~ .menu nav li:nth-child(2) label {
    background-color: #eee;
    color: #000;
}
#nav-3:checked ~ .menu nav li:nth-child(3) label {
    background-color: #eee;
    color: #000;
}
#nav-4:checked ~ .menu nav li:nth-child(4) label {
    background-color: #eee;
    color: #000;
}