.formContainer {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: #212121;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084),
        0px 2px 3px rgba(0, 0, 0, 0.168);
}

.formContainer button:active {
    scale: 0.95;
}

.formContainer .logoContainer {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.formContainer .form {
    display: flex;
    flex-direction: column;
}

.formContainer .formGroup {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.formContainer .formGroup label {
    display: block;
    margin-bottom: 5px;
}

.formContainer .formGroup input {
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
}

.formContainer .formGroup input::placeholder {
    opacity: 0.5;
}

.formContainer .formGroup input:focus {
    outline: none;
    border-color: #1778f2;
}

.formContainer .formSubmitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px auto;
    font-family: inherit;
    color: #fff;
    background-color: #212121;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084),
        0px 2px 3px rgba(0, 0, 0, 0.168);
}

.formContainer .formSubmitBtn:hover {
    background-color: #313131;
}

.formContainer .row {
    display: flex;
    gap: 10px;
}
