/* ///////////     RESET      ///////////// */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}
::-webkit-scrollbar {
    width: 0;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ///////////     END-RESET      ///////////// */

body {
    background: rgb(238, 174, 202);
    background: linear-gradient(
        90deg,
        rgba(238, 174, 202, 1) 0%,
        rgba(148, 187, 233, 1) 100%
    );
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    height: 600px;
    left: 100px;
    border-radius: 18px;
    background-color: #ddd;
    box-shadow: 2px 2px 10px 0px #000;
    padding: 20px;
    transition: left 0.4s;
}

.heading {
    font-weight: bold;
    opacity: 0.8;
}

.cd {
    margin: 30px 0;
    width: 200px;
    border-radius: 50%;
    animation: cd-rotate 14s infinite linear;
    animation-play-state: paused;
}

.song-name {
    font-size: 25px;
    font-weight: 700;
}

.author-name {
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: rgb(189, 194, 178);
    border-radius: 99px;
    cursor: pointer;
}

.progress {
    position: absolute;
    background-color: rgb(163, 155, 133);
    top: 0;
    left: 0;
    bottom: 0;
    width: 0%;
    border-radius: 99px;
}

.progress span {
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    translate: 50% -50%;
    background-color: rgb(107, 105, 71);
}

.player {
    text-align: center;
    width: 100%;
    user-select: none;
    margin: 40px auto;
}

.play-inner {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -2px;
}

.play-btn {
    display: inline-block;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    cursor: pointer;
}

.time {
    position: absolute;
    bottom: 140%;
    left: 0;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    font-size: 12px;
    visibility: hidden;
}

.karaoke-model {
    position: fixed;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    width: 500px;
    height: 600px;
    border-radius: 18px;
    background-color: #ddd;
    box-shadow: 2px 2px 10px 0px #000;
    padding: 20px;
    transition: width 0.4s;
    overflow: hidden;
    z-index: -1;
}

.karaoke-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    font-family: roboto;
    transition: 0.2s opacity, 0.2s visibility;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    font-family: roboto;
    opacity: 0;
}

.line {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    gap: 12px;
    opacity: 0;
    transition: opacity 0.6s;
}

.line:nth-child(odd) {
    margin-bottom: 90px;
}

.line:nth-child(even) {
    margin-top: 90px;
}

.line > .word {
    position: relative;
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    background-color: #666;
    transition: visibility 0.2s, opacity 0.2s;
}

.karaoke-btn {
    margin-top: 5px;
    display: inline-block;
    padding: 10px 20px;
    min-width: 140px;
    text-align: center;
    color: #fff;
    border: 2px solid rgb(184, 178, 162);
    color: #000;
    border-radius: 99px;
    cursor: pointer;
}

.close {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0%;
    background-color: #aebb44;
    -webkit-background-clip: text;
}

@keyframes highlight {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes cd-rotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

html,
body {
    width: 100%;
    height: 100%;
}
body {
    background-size: 1000% 1000%;
    animation: gradient 12s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
