@import './reset';

$title-font: 'Titillium Web', sans-serif;
$primary-font: 'Rajdhani', sans-serif;
$text-color: #3e3f5e;

@mixin button() {
    width: 100%;
    color: #fff;
    outline: none;
    border: none;
    height: 54px;
    line-height: 54px;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    transition:
        background-color .2s ease-in-out,
        color .2s ease-in-out,
        border-color .2s ease-in-out,
        box-shadow .2s ease-in-out;
}

@mixin form() {
    margin-top: 76px;
    width: 100%;
    .form-input {
        position: relative;
        width: 100%;
        font-size: 1.6rem;
        line-height: 24px;
        &+.form-input {
            margin-top: 28px;
        }
        label {
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            transition: all .3s ease-in-out;
            color: #adafca;
            font-weight: 600;
            padding: 0 5px;
            background-color: #fff;
            pointer-events: none;
        }
        input {
            width: 100%;
            padding: 0 18px;
            height: 54px;
            border: 1px solid #ddd;
            border-radius: 12px;
            outline: none;
            transition: border 0.3s ease-in-out;
            &:focus {
                border: 1px solid blue;
                &+label {
                    top: 0;
                    font-size: 1rem;
                }
            }
        }
    }
}

%form-block {
    position: relative;
    border-radius: 12px;
    transition: all 0.6s ease-in-out 0s;
    background-color: #fff;
    padding: 64px;
    box-shadow: 0 0 60px 0 rgba(94,92,154,.12);
    opacity: 1;
    visibility: visible;
}

%form-title {
    font-size: 2.6rem;
    line-height: 1em;
    font-weight: 700;
    color: $text-color;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
    &::-webkit-scrollbar {
        display: none;
    }
    .second-bg {
        position: absolute;
        top: -20%;
        right: -32%;
        width: 64%;
        height: 140%;
        border-radius: 50%;
        pointer-events: none;
        background: url(https://hoanganf8.github.io/htmlcss_project02/image/dot-texture.png) repeat 0 0 #fff;
    }
    .main {
        background-image: url(https://hoanganf8.github.io/htmlcss_project02/image/landing-background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 center;
        height: 100vh;
        .flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            max-width: 1136px;
            margin: 0 auto;
            #login {
                &:checked {
                    &~.content .tabs .login-tab {
                        background-color: #fff;
                        color: $text-color;
                    }
                    &~.form .register-form {
                        transform: translate(50%, -50%);
                        opacity: 0;
                        visibility: hidden;
                        z-index: 1;
                    }
                }
            }
            #register {
                &:checked {
                    &~.content .tabs .register-tab {
                        background-color: #fff;
                        color: $text-color;
                    }
                    &~.form .login-form {
                        transform: translateX(50%);
                        opacity: 0;
                        visibility: hidden;
                        z-index: 1;
                    }
                }
            }
            > .content {
                width: 584px;
                text-align: center;
                color: #fff;
                padding-bottom: 40px;
                .heading {
                    text-transform: uppercase;
                    span {
                        display: block;
                        margin-top: 36px;
                        font-size: 2.4rem;
                        font-weight: 500;
                        line-height: 1em;
                    }
                    h1 {
                        margin-top: -10px;
                        font-size: 10.4rem;
                        line-height: 1em;
                        padding-bottom: 10px;
                        font-family: $title-font;
                    }
                }
                .desc {
                    font-size: 1.8rem;
                    line-height: 24px;
                    font-weight: 500;
                    margin: 30px 100px 0;
                }
                .tabs {
                    display: flex;
                    justify-content: center;
                    margin: 90px auto 0;
                    width: 360px;
                    max-width: 94vw;
                    label {
                        font-weight: 700;
                        height: 54px;
                        width: 100%;
                        border-radius: 12px 0 0 12px;
                        border: 1px solid #fff;
                        font-size: 1.6rem;
                        text-align: center;
                        line-height: 54px;
                        cursor: pointer;
                        transition: background-color .3s ease-in-out,color .3s ease-in-out;
                    }
                    .register-tab {
                        border-radius: 0 12px 12px 0;
                    }
                }
            }
            .form {
                position: relative;
                font-family: $primary-font;
                width: 484px;
                .login-form {
                    @extend %form-block;
                    > .rocket {
                        position: absolute;
                        top: 9px;
                        left: 0;
                        transform: translate(-50%, -50%);
                    }
                    > .content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        overflow: hidden;
                        h2 {
                            @extend %form-title;
                        }
                        form {
                            @include form();
    
                            .row {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                font-size: 1.4rem;
                                line-height: 22px;
                                font-weight: 700;
                                margin-top: 28px;
                                flex-wrap: wrap;
                                .remember {
                                    #remember {
                                        &:checked {
                                            &+label .check-config {
                                                background-color: #23d2e2;
                                            }
                                        }
                                    }
                                    > label {
                                        display: flex;
                                        gap: 12px;
                                        user-select: none;
                                        cursor: pointer;
                                        .check-config {
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            flex-shrink: 0;
                                            width: 22px;
                                            height: 22px;
                                            border-radius: 6px;
                                            border: 1px solid #ddd;
                                            transition: background-color 0.2s ease-in-out;
                                        }
                                    }
                                }
                                .forgot-password {
                                    color: #adafca;
                                    cursor: pointer;
                                    &:hover {
                                        color: #00c7d9;
                                    }
                                }
                            }
    
                            button {
                                @include button();
                                font-family: $primary-font;
                                margin-top: 30px;
                                background-color: #615dfa;
                                box-shadow: 4px 7px 12px 0 rgba(97,93,250,.2);
                                &:hover {
                                    background-color: #5753e4;
                                    cursor: pointer;
                                }
                            }
                              
                        }
                        .other-login {
                            margin-top: 40px;
                            position: relative;
                            font-size: 14px;
                            line-height: 1em;
                            font-weight: 700;
                            padding: 0 15px;
                            &::before {
                                display: block;
                                position: absolute;
                                content: "";
                                width: 100%;
                                height: 0.5px;
                                top: 50%;
                                right: 100%;
                                background-color: #ddd;
                            }
                            &::after {
                                @extend ::before;
                                right: auto;
                                left: 100%;
                            }
                        }
                        .socials {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            gap: 12px;
                            margin-top: 30px;
                            > div {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 40px;
                                height: 40px;
                                border-radius: 10px;
                                background-color: lightcoral;
                                transition: transform .2s ease-in-out;
                                cursor: pointer;
                                &:hover {
                                    transform: translateY(-5px);
                                }
                                img {
                                    width: 12px;
                                }
                            }
                            .facebook {
                                background-color: #3763d2;
                            }
                            .twitter {
                                background-color: #1abcff;
                            }
                            .twitch {
                                background-color: #7b5dfa;
                            }
                            .youtube {
                                background-color: #fd434f;
                            }
                        }  
                    }
                }
                .register-form {
                    @extend %form-block;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    > .rocket {
                        position: absolute;
                        top: 65px;
                        left: 0;
                        transform: translate(-50%, -50%);
                    }
                    > .content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        overflow: hidden;
                        h2 {
                            @extend %form-title;
                        }
                        form {
                            @include form();
                            .row {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                font-size: 1.4rem;
                                line-height: 22px;
                                font-weight: 700;
                                margin-top: 28px;
                                flex-wrap: wrap;
                                .subscribe {
                                    #subscribe {
                                        &:checked {
                                            &+label .check-config {
                                                background-color: #23d2e2;
                                            }
                                        }
                                    }
                                    > label {
                                        display: flex;
                                        gap: 12px;
                                        user-select: none;
                                        cursor: pointer;
                                        .check-config {
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            flex-shrink: 0;
                                            width: 22px;
                                            height: 22px;
                                            border-radius: 6px;
                                            border: 1px solid #ddd;
                                            transition: background-color 0.2s ease-in-out;
                                        }
                                    }
                                }
                            }
    
                            button {
                                @include button();
                                font-family: $primary-font;
                                margin-top: 30px;
                                background-color: #23d2e2;
                                box-shadow: 4px 7px 12px 0 rgba(97,93,250,.2);
                                &:hover {
                                    background-color: #1bc5d4;
                                    cursor: pointer;
                                }
                            }
                        }
                        .contact {
                            margin-top: 30px;
                            font-size: 1.4rem;
                            line-height: 24px;
                            font-weight: 500;
                            color: $text-color;
                            a {
                                color: #23d2e2;
                                text-decoration: none;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}
@import './responsive';