section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
}

h2 {
    font-size: 30px;
}

p {
    color: #777;
}

input, select {
    position: relative;
    width: 370px;
    height: 45px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #aaa;
}

textarea {
    position: relative;
    width: 100%;
}

::placeholder {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    left: 10px;
    transition: all 0.15s linear;

}

:focus::placeholder {
    font-size: 10px;
    top: 7px;
}

select {
    color: #777;
}

form {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 760px;
}

textarea::placeholder {
    top: 20px;
    box-sizing: border-box;
}

button {
    margin: 10px auto;
    padding: 14px 26px;
    background-color: rgb(105, 105, 255);
    border-radius: 99px;
    color: #fff;
    border: none;
}